.tab{
    background-color: #0540F2;
    color: #F2F2F2;
}
.baixo{
    background-color: #F2F2F2;
    color: #030F26;

}
table{
    border-radius: 8px;
}
*{
    font-size: 50px;
    font-family:'Trebuchet MS', Arial, sans-serif;
    width: 50%;
    border-color: #030F26;
}