.borda{
    background-color: #F2F2F2;
    width: 50%;
    font-size: 3rem;
    display: flex;
    gap: 3rem;
    color: #030F26;
    font-weight: 600;
    font-family:'Trebuchet MS', Arial, sans-serif;
    padding: 1rem 1.5rem;
}